.container{
  margin: 40px 40px;
  padding: 40px 40px;
  background-color: rgba(0, 0, 255, 0.178);
  
}
.h2{
  color: rgb(55, 0, 255);
}
.h3{
  color: red;
}

.firs{
  display: inline-block;
}
a{
  
  margin: 40px 40px;
}
.image{
	max-width: 100%;
	width: 100%;
	height: auto;
}
.titles{
	width: 140px;
	float: left;
}

#form_message{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin:10px;
	padding: 10px;
	width: 320px;
	height:330px;
}

#form_message input,textarea{
	border-radius: 5px;
	width: 170px;
}

#submit{
	height: 50px;
	float: right;
}

#form_message h2{
	text-align: center;
}